@charset "utf-8";


/* TAG ****************************************************************/
hr{
	margin-bottom:10px !important;
	margin-top:-15px !important;
}

textarea{
	width:184px !important;
}


/* ID *****************************************************************/
#inputLimite{
	position:relative;
	width:50%;
}

#validaNome{
	left:375px;
	width:60px;
}


/* HERANÇA ************************************************************/
input[id^="Orcamentocentro"], input[id^="inputLimite"]{
	left:-75px;
	margin-left:50%;
	position:relative;
}

div[class^="bloco-area"]{
	display:inline-block;
	margin-top:20px;
	width:100%;
}

div[class^="bloco-area"]:first-child{
	display:inline-block;
	margin-top:0px !important;
}
