@charset "utf-8";

/* ID *****************************************************************/

#inputLimite{
	position: absolute;
	left: 950px;
	bottom: 285px;
}

/* CLASS **************************************************************/

div[class^="bloco-area"]{
	display:inline-block;
	margin-top:20px;
	width:100%;
}

div[class^="bloco-area"]:first-child{
	display:inline-block;
	margin-top:0px !important;
}

/* TAG ****************************************************************/
hr{
	margin-top:-15px !important;
	margin-bottom:10px !important;
}

textarea{
	width:184px !important;
}
