@charset "utf-8";

/* ID *****************************************************************/

#inputLimite{
	position: relative;
	width: 50%;
}

input[id^="Orcamentocentro"], input[id^="inputLimite"]{
	position: relative;
	margin-left: 50%;
	left: -75px;
}

#validaNome{
	width: 60px;
	left: 375px;
}

/* CLASS **************************************************************/

div[class^="bloco-area"]{
	display:inline-block;
	margin-top:20px;
	width:100%;
}

div[class^="bloco-area"]:first-child{
	display:inline-block;
	margin-top:0px !important;
}

/* TAG ****************************************************************/
hr{
	margin-top:-15px !important;
	margin-bottom:10px !important;
}

textarea{
	width:184px !important;
}
