@charset "utf-8";


/* CLASS **************************************************************/
.zoomer-holder{
    opacity:1 !important;
}

.zoomImagem{
    height:500px;
    width:650px;
}
.zoomer{
    float:left;
}

.msgImagem{
    left:166px;
    top:144px;
}

.msgImagem:after{
    left:54px;
    top:-20px;
}


/* HERANÇA ************************************************************/
[id*="myModal_add-comprovanteView"] .modal-body{
    height:auto;
    margin-top:-35px;
}

[id*="myModal_add-comprovanteView"].modal{
    top:55px !important;
    width:690px;
}
