@charset "utf-8";

.ui-menu{
	max-height: 300px !important;
}

#tbl_produtos{
	margin-top: 15px;
}

.bt-addItens{
	float: right;
	margin-top: -27px;
	margin-right: 70px;
}

.tabela_fornecedores{
	margin-top: 25px;
}

.tabela_fornecedores_view{
	margin-top: 10px;
}

input[type="text"]:disabled{
	cursor:;
	background-color:#F9F9F9;
}

.coluna-Fornecedor{
	margin-top: 15px;
	width: 500px;
}

.coluna-Fornecedor fieldset{
	padding: 5px;
}

.coluna-Produto{
	margin-right: 77px;
	margin-top: 15px;
	width: 500px;
	
}

.coluna-Produto fieldset{
	padding: 5px;
}

.coluna-Fornecedor_Pedido{
	margin-top: 15px;
}

.coluna-Produto_Pedido{
	margin-top: 15px;
	
}

.bt-addItens_Pedido{
	margin-top: -26px;
	margin-left: 190px;
	position:absolute;
	z-index: 1;
}

.bt-addItens_Pedido_forne{
	margin-left: -15px;
}


.produtoUnid_Pedido{
	margin-right: 0px !important;
}

#myModal_add-confirma .modal-body{
	height: 190px;
}

#myModal_add-confirma footer{
	margin: 0;
}
#myModal_add-confirma .recebimentoData{
	margin: 10px 0px 0px 100px;
}

#msgValidaProduto{top: -10px;}
#msgValidaFor{top: -10px;}


#msgValidaProduto:after{
	top: 21px !important;
}

#msgValidaFor:after{
	top: 21px !important;
}

#msgQtdVazia{
	left: 250px;
}

#produtoUnid{
	float: right;
	margin-right: 170px;
	margin-top: -28px;
	font-size: 15px;
}

label[for="produtoUnid"]{position:absolute;}

#CotacaoAddForm{
	display:inline-block;
}

#bt-adicionarProduto{
	margin-top: 55px;
	position: absolute;
	margin-left: 230px;
}
