@charset "utf-8";

.bt-addItens{
	float: right;
	margin-top: -27px;
	margin-right: 70px;
}

.tabela_fornecedores{
	margin-top: 25px;
}

.tabela_fornecedores_view{
	margin-top: 10px;
}

input[type="text"]:disabled{
	cursor:;
	background-color:#F9F9F9;
}

.coluna-Fornecedor{
	margin-top: 15px;
	width: 500px;
}

.coluna-Fornecedor fieldset{
	padding: 5px;
}

.coluna-Produto{
	margin-right: 77px;
	margin-top: 15px;
	width: 500px;
	
}

.coluna-Produto fieldset{
	padding: 5px;
}

#msgValidaProduto{top: -10px;}
#msgValidaFor{top: -10px;}


#msgValidaProduto{
	top: 21px !important;
}

#msgValidaFor:after{
	top: 21px !important;
}
