

/*  Padrao{tamanho; posição; forma; etc;}
 * .Padrao{tamanho; posição; forma; etc;}
 * #Padrao{tamanho; posição; forma; etc;}*/

/** Dados da Parcela **/

#msgValidaParceiro, #msgValidaTipoConta, #msgValidaCentroCusto{
	margin-top: -95px;
	width: 105px;
	left: 175px;
}
