

/*  Padrao{tamanho; posição; forma; etc;}
 * .Padrao{tamanho; posição; forma; etc;}
 * #Padrao{tamanho; posição; forma; etc;}*/

/** Dados da Parcela **/

/**** Tabela das Parcelas*****/
#tabelaParcelas{
	margin-top: 25px;
}

.statusSemaforo{
	float: left;
	font-size: 13px;
	margin-left: 95px;
	clear: both;
}

.statusSemaforo img{
	margin-left:15px;
}
