@charset "utf-8";


/* CLASS **************************************************************/
.statusSemaforo{
	clear:both;
	float:left;
	font-size:13px;
	margin-left:95px;
}

.quitar{
	cursor:pointer;
}

.modalQuitar{
	border-radius:0px !important;
	padding:10px;
}

.clearBoth{
    clear:both;
    padding:5px;
}

.sectionNegociacao{
	clear:both;
}

.modalQuitar{
	height:300px;
}


/* ID *****************************************************************/
#tabelaParcelas{
	margin-top:25px;
}

#bt-upload{
	padding:2px; 
}

#bt-visualizarComprovante{
	padding:2px; 
}

#msgNegociacaoDesabilitada{
	background-color:#D9EDF7;
	color:#317396;
	left:930px;
	position:absolute;
	top:173px;
	width:136px;
	z-index:6;
}

#msgNegociacaoDesabilitada:after{
	border-color:transparent  transparent #D9EDF7 transparent; 
	left:60px;
	top:-20px;
}

#ParcelaDescricao{
	margin-bottom:5px;
}

#bt-salvar-quitar0{
	margin-top:75px;
}


/* HERANÇA ************************************************************/
.statusSemaforo img{
	margin-left:15px;
}

.modalQuitar section{
	clear:both;
	position:relative;
}

.sectionNegociacao fieldset{
	padding:5px 0px;
}	

.modalQuitar footer{
	margin-bottom:50px;
	margin-top:20px;
}

.modalQuitar section.coluna-central label{
	margin-top:0px;
}

.modalQuitar  .Msg-tooltipDireita{
	float:left;
	left:314px;
	margin-top:-5px;
	width:120px;
}

.modalQuitar section.coluna-central{
	height:50px;
	margin:15px 0px 0px 95px;	
}

input[type="checkbox"][id$="checkNegociacao"]{
    margin-left:24px;
}
