@charset "utf-8";


/*  Padrao{tamanho; posição; forma; etc;}
 * .Padrao{tamanho; posição; forma; etc;}
 * #Padrao{tamanho; posição; forma; etc;}*/

/*** Menu Lateral****/

.item{line-height: 15px;}

.abaMenuLateral{ line-height: 13px; }

.textMenuLateral{ margin-top: -11px; }
.textMenuLateral span{ height: 42px; }

/** Formulário**/
textarea{height: 68px !important; width: 147px !important;}

#Endereco0PontoReferencia{margin-bottom:5px;}
.fake-footer{
	display:inline-block;
	width:100%;
}
.fake-footer img{
	margin:0;
}


/** Botões **/
.bt-direita{float: right; margin: 10px 10px 5px 3px;}

table{margin-top: 20px;}

/** Classes **/
.textAreaConta{height: 50px !important; width: 186px !important;margin-bottom:5px;}

.bt-preencherConta {float: left;margin:5px 0 0 192px;position: absolute;z-index: 1;}

[class*="autocomplete"] .custom-combobox-input {width: 153px;}
