@charset "utf-8";


/*  Padrao{tamanho; posição; forma; etc;}
 * .Padrao{tamanho; posição; forma; etc;}
 * #Padrao{tamanho; posição; forma; etc;}*/

select{
	height:23px !important;
}

/*** Menu Lateral****/

.item{line-height: 15px;}

.abaMenuLateral{ line-height: 13px; }

.textMenuLateral{ margin-top: -11px; }
.textMenuLateral span{ height: 42px; }

/** Formulário**/
textarea{height: 68px !important; width: 147px !important;}

#Endereco0PontoReferencia{margin-bottom:5px;}
.fake-footer{
	display:inline-block;
	width:100%;
}
.fake-footer img{
	margin:0;
}

select[id^='Endereco']{
	width:190px !important;
}


/** Botões **/
.bt-direita{float: right !important; margin: 10px 10px 5px 3px;}

#bt-voltarPagar{display:none;}

#bt-voltarReceber{display:none;}

#bt-alterarConta-receber{display:none}

#bt-editarConta-pagar{display:none;}

.bt-salvarConta{display:none;}

.bt-confirmar{float:right;}

.bt-preencherConta {display:block;float: left;margin:29px 0 0 345px;position: absolute;z-index: 1;}

table{margin-top: 20px;}

/** Classes **/
.textAreaConta{height: 50px !important; width: 186px !important;margin-bottom:5px;}

#spanTextArea{display:block;font-size:13px;min-width:100px;margin-left: 153px;}

[class*="autocomplete"] .custom-combobox-input {width: 153px;}

/** Id **/
[id*="msg"]:after{left: -20px;top: 1px;}

[id*="msg"]{left: 245px;}

#msgAutoComplete:after{ left: 23px;top: 51px;}
#msgAutoComplete{top: -35px;}

#msgCpfCnpj:after{ border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFD5D5 rgba(0, 0, 0, 0); left: 51px;top: -20px;}
#msgCpfCnpj{float: right;left: 1280px;top: 550px;width: 107px;}

#msgTipoPagamento{top:0px;left:230px;}


#totalReceber, #totalPagar{
	font-size:13px;
	margin-top:10px;
	width:375px;
	padding-left:50px;
	height:100px;
}

#totalReceber{
	margin-left:100px;
}

#totalPagar{
	margin-right:100px;
}


#ContasreceberDescricao{
	width: 169px !important;
}

#ContaspagarDescricao{
	width: 169px !important;
}

[id*="spanDataFinal"]{left: 215px;top: 112px;width: 129px;}

#spanDataFinalEmi{height: 49px;left: 245px;top: -3px;width: 94px;z-index: 1;}













