@charset "utf-8";

[id*="myModal_add-uploadConta"] .modal-body{
    height:220px;
}
[id*="myModal_add-uploadConta"] #bt-buscar{
	padding-left:10px;
	cursor:pointer;
}

[id*="myModal_add-uploadConta"] .bt-upload{
	width:86px;
	height:22px;
}

[id*="myModal_add-uploadConta"] .bt-confirmar{
	display: block;
	margin-top: 50px;
}

[id*="myModal_add-uploadConta"] #doc_file{
    display:none;
}

[id*="myModal_add-uploadConta"] #bt-submit{

	border:none;
	cursor:pointer;
}

#msgExtensoes{
    background-color:#D9EDF7;
    color:#317396;
    left:150px;
    top:136px;
    width:215px;
    z-index:6;
}

#msgExtensoes:after{
    border-color:transparent transparent #D9EDF7 transparent;
    left:75px;
    top:-18px;
}
