@charset "utf-8";

/* ID *****************************************************************/

/* CLASS **************************************************************/


#myModal_add-parceiroFornecedor .modal-body{
	width: 1100px;
	height: 450px;
}

#myModal_add-parceiroFornecedor.modal{
	left: 27%;
	top: 6%;
}

#myModal_add-parceiroFornecedor  .divTipoParceiro{margin-bottom:50px;}

#myModal_add-parceiroFornecedor  .bloco-area{
	display:inline-block;
	margin-top:20px;
	width:100%;
}

#myModal_add-parceiroFornecedor  .bloco-area:first-child{
	display:inline-block;
	margin-top:0px !important;
}

#myModal_add-parceiroFornecedor .ajusteAlignSection{
	clear:both;
}

/* TAG ****************************************************************/
#myModal_add-parceiroFornecedor  hr{
	margin:0 !important;
}
