@charset "utf-8";


/* HERANÇA ************************************************************/
#myModal_add-categoria header h1 {
    color:#008000;
    float:left;
    font-size:30px;
    left:10px;
    margin-top:-6px;
    position:relative;
}

#myModal_add-categoria header img {
    float:left;
    position:relative;
}

#myModal_add-categoria footer{
	display:block;
	float:left;
	margin-top:4px;
	position:relative;
	width:100%;
}

#myModal_add-categoria section .header {
    border-bottom:3px solid #CCCCCC;
    color:#008000;
    float:left;
    font-size:20px;
    margin-bottom:40px;
    position:relative;
    text-align:right;
    width:100%;
}

#myModal_add-categoria .bt-salvar{
	margin-top:15px;
}

#myModal_add-categoria .centro{
	margin-top:10px;
	width:450px !important;
}

#myModal_add-categoria .corpo{
	height:240px !important;
}

#myModal_add-categoria .modal-body{
	height:220px !important;
}

#myModal_add-categoria .loaderAjaxCategoriaDIV{
	left:200px;
    position:absolute;
    top:-68px;
}

#myModal_add-categoria #spanMsgCategoria{
    left:400px;
    top:121px;
    width:110px;
}

#myModal_add-categoria #spanMsgCateNomeInvalido{
    left:390px;
    top:125px;
    width:110px;
}

#myModal_add-categoria #spanMsgCateNomeInvalido{
    left:405px;
    top:121px;
    width:110px;
}

#myModal_add-categoria #spanMsgCateNomeInvalido:after {
	height:0;
	left:-20px;
	top:9px;
	width:0;
}

#myModal_add-categoria label[for=CategoriaNome]{
	display:block;
	font-size:13px;
	margin-left:37px !important;
	margin-top:5px;
	line-height:2px;
}

#myModal_add-categoria input[id=CategoriaNome]{
	display:block;
	margin-left:188px;
	margin-top:-36px;
	height:16px;
}
