@charset "utf-8";


/* TAG ****************************************************************/


/* CLASS **************************************************************/


/* ID *****************************************************************/
#LoadAjaxQuickLink{
	left:161px;
	position:absolute;
	top:-110px;
}

#QuicklinkNome{
	margin-top:15px;
}

/* HERANÇA ************************************************************/
.ui-widget .error-message-quicklink{
	display:none;
}

#myModal_edit-obs .modal-body{
	height:230px !important;
}

#myModal_edit-obs #spanQuicklink{
	background-color:#FFD5D5;
    border:1px solid #AAAAAA;
    border-radius:5px;
    color:#D40000;
    display:block;
    font-size:13px;
    left:345px;
    padding:3px;
    position:absolute;
    text-align:center;
    top:110px;
    width:108px;
}

#myModal_edit-obs #spanQuicklink:after {
	border-color:rgba(0, 0, 0, 0) #FFD5D5 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style:solid;
    border-width:10px;
    content:"";
    height:0;
    left:-20px;
    position:absolute;
    top:8px;
    width:0;
}

#myModal_edit-obs footer{
	height: 26px;
	margin-bottom: 0px;
	margin-top: 30px;
}

#myModal_edit-obs .coluna-modal{
	margin-left: 70px;
}

#myModal_edit-obs #validaLimiteModal{
	float: right;
	position: relative;
	margin-right: 25px;
}

#myModal_edit-obs #validaLimiteModal:after{
	margin-top: -6px;
}


#myModal_edit-obs #validaValidadeModal{
	float: right;
	position: relative;
	margin-right: 80px;
}

#myModal_edit-obs #validaValidadeModal:after{
	margin-top: -6px;
}

#myModal_edit-obs .loaderAjaxDadoscreditoDIV{
	position: absolute;
	margin-left: 180px;
}
