@charset "utf-8";

/* ID *****************************************************************/
#myModal_add-parceiroFornecedor .modal-body{
	width:1115px;
	height:610px;
}

#myModal_add-parceiroFornecedor{
	left:29%;
	top:15px;
}
