@charset "utf-8";


/* HERANÇA ************************************************************/
.ui-widget .error-message-quicklink{
	display:none;
}

#myModal_add-centro_custo{
	height: 100px;
}

#myModal_add-centro_custo .modal-body{
	height:500px !important;
	width:1100px;
	left:-280px;
	top:-30px;
}

#myModal_add-centro_custo footer{
	margin: 15px 0px 0px 0px;
}

#myModal_add-centro_custo .coluna-modal{
	margin: 40px 0px 0px 75px;
	top: 10px;
}

#myModal_add-centro_custo #loaderAjaxCusto{
	margin: 45px 0px 0px 155px;
	position: absolute;
	width: 100px;
	display: none;
}

/* VALIDACAO **********************************************************/
#myModal_add-centro_custo  #spanValidaNomeCusto{
	right: 0px;
	margin-right: 33px;
	width: 95px;
}


#myModal_add-centro_custo  #spanValidaNomeCusto:after{
	top: 1px;
}

#myModal_add-centro_custo  #spanValidaLimiteCusto, #spanValidaAtualCusto{
	right: 0px;
	margin-right: 100px;
	width: 95px;
}


#myModal_add-centro_custo  #spanValidaLimiteCusto:after, #spanValidaAtualCusto:after{
	top: 1px;
}

#validaBloco{
	width: 150px;
	right: 65px;
	margin-top: -5px;
	z-index: 1;
	position: absolute;
}

#btn-remove{
	display:none;
}




