@charset "utf-8";

#myModal_add-uploadConta .modal-body{
    height:240px;
}
#myModal_add-uploadConta #bt-buscar{
	padding-left:10px;
	cursor:pointer;
}

#myModal_add-uploadConta .bt-upload{
	width:86;
	height:22;
}

#myModal_add-uploadConta #doc_file{
    display:none;
}
#myModal_add-uploadConta #bt-submit{

	border:none;
	cursor:pointer;
}
