@charset "utf-8";


/* ID *****************************************************************/
#LoadAjaxQuickLink{
	left:161px;
	position:absolute;
	top:-110px;
}

#QuicklinkNome{
	margin-top:15px;
}


/* HERANÇA ************************************************************/
.ui-widget .error-message-quicklink{
	display:none;
}

#myModal_add-quicklink .modal-body{
	height:265px !important;
}

#myModal_add-quicklink #spanQuicklink{
    left:380px;
    top:110px;
    width:108px;
}

#myModal_add-quicklink #spanQuicklink:after{
    height:0;
    left:-20px;
    top:8px;
    width:0;
}
