@charset "utf-8";

/* ID *****************************************************************/
#myModal_add-parceiroCliente .modal-body{
	width:1115px;
	height:610px;
}

#myModal_add-parceiroCliente{
	left:29%;
	top:15px;
}
