@charset "utf-8";

/* ID *****************************************************************/
#remove-area-endereco, #remove-area-dadosbanc{
	display:none;
	margin-right:10px;
}

/* CLASS **************************************************************/
.divTipoParceiro{margin-bottom:50px;}

div[class^="bloco-area"]{
	display:inline-block;
	margin-top:20px;
	width:100%;
}

div[class^="bloco-area"]:first-child{
	display:inline-block;
	margin-top:0px !important;
}

.ajusteAlignSection{
	clear:both;
}

/* TAG ****************************************************************/
hr{
	margin-top:-15px !important;
	margin-bottom:10px !important;
}

/* VALIDAR CAMPOS *****************************************************/
#validaClassificacao, #valida0Logradouro, #valida0Cidade, #validaValidade, #validaStatus, #Dadoscredito0Bloqueado{
	width: 85px;
	top: -5px;
	left: 260px;	
}

#validaNome, #Endereco0Logradouro, #validaLimite{
	width:85px;
	top:-5px;
	left:325px;
}

#valida0Uf,#valida0Cidade{
	width:85px;
	top:25px;
	left:360px;
}

#validaTelefone{
	width:85px;
	top:25px;
	left:325px;
}

#validaCPF, #validaCPFTamanho{
	width:85px;
	top:30px;
	left:185px;
}

#valida0Bairro{
	width:85px;
	top:60px;
	left:185px;
}

#validaCPF:after,#validaCPFTamanho:after,#valida0Bairro:after{
	left:35px;
}
