@charset "utf-8";

/* ID *****************************************************************/
#remove-area-endereco, #remove-area-dadosbanc{
	display:none;
	margin-right:10px;
}

#bt-removeEndereco, #bt-addEndereco{
	margin-right:10px;
}
/* CLASS **************************************************************/
.divTipoParceiro{margin-bottom:50px;}

div[class^="bloco-area"]{
	display:inline-block;
	margin-top:20px;
	width:100%;
}

div[class^="bloco-area"]:first-child{
	display:inline-block;
	margin-top:0px !important;
}

.ajusteAlignSection{
	clear:both;
}

.dadosRepetidos{
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	clear: both;
}
/* TAG ****************************************************************/
hr{
	margin-top:-15px !important;
	margin-bottom:10px !important;
}

textarea{
	width:184px !important;
}


/* VALIDAR CAMPOS *****************************************************/
#validaClassificacao, span[id$="Cidade"], #validaValidade1, #validaStatus, #Dadoscredito0Bloqueado{
	width: 85px;
	top: -5px;
	left: 260px;	
}

#validaValidade2{
	width: 145px;
	top: -5px;
	left: 260px;	
}

span[id$="Logradouro"]{
	width:85px;
	top:-5px;
	left:325px;
	z-index:9991;
}

#validaNome, #validaLimite, #validaTelefone22{
	width:85px;
	top:-5px;
	left:325px;
	z-index:9991;
}

#validaTelefone22{
	width:85px;
	top:22px;
	left:325px;
	z-index:9991;
}

span[id$="Uf"],#valida0Cidade{
	width:85px;
	top:25px;
	left:360px;
}

#validaTelefone1,#validaTelefone2{
	width:85px;
	top:25px;
	left:325px;
}

#validaCPF, #validaCPFTamanho, #validaCelular{
	width:85px;
	top:30px;
	left:185px;
}

#validaCelular{
width:85px;
	top:60px;
	left:185px;
}

span[id$="Bairro"]{
	width:85px;
	top:60px;
	left:185px;
}

#validaCPF:after,#validaCPFTamanho:after,span[id$="Bairro"]:after{
	left:35px;
}

#idcpf{
	float: left;
	position:absolute;
	margin-top: 2px;
}

#idcnpj{
	float: left;
	position:absolute;
	margin-top: 2px;
}

.label-cpf{
	float:right;
	font-size:13px;
	margin-top:-4px;
	width:65px !important;
}

.label-cnpj{
	margin-left:85px;
	margin-top:-4px;
	width:50px !important;
}

#inputcnpj{
	position:absolute;   
	margin-left:75px;
}

#inputcpf{
	position:absolute;
	z-index: 999;
	margin-left: 10px;
}

#ClienteCpfCnpj{
	position:absolute;
	height:16px;
}
