@charset "utf-8";


/* TAG ****************************************************************/
input{
	margin-bottom:4px !important;
}

label{
	margin-bottom:10px !important;
	margin-left:-13px !important;
	min-width:127px !important;
}

textarea{
	resize:none;
}


/* CLASS **************************************************************/
.textarea{
	float:left;
	margin-right:49px;
	width:350px;
}

.periodo{
	margin-left:-7px;
}

.status{
	margin-left:-10px;
}

.tamanho-status{
	margin-left:-1px;
	width:140px !important;
}

.tamanho-medio{
	width:140px !important;
}

.labelAjuste{
	left:-14px;
	position:relative;
	width:163px !important;
}

.inputAjuste{
	left:-14px;
	position:relative;
}

.loaderAjax{
	left:424px;
	position:absolute;
	top:-600px;
}


/* ID *****************************************************************/
#input-codigo{
	background-color:transparent;
	border:0px;
	width:150px !important;
}

#spanEstoqueMinimoZero{
	left:231px;
	top:20px;
	width:110px;
}

#spanEstoqueMinimo{	
	left:231px;
	top:20px;
	width:110px;
}

#btnLeft, #btnRight{
	padding:4px;
	line-height:15px;
}

#validaNome{
	left:297px;
	top:-5px;
	width:100px;
}

#validaUnid{
	left:260px;
	top:-13px;
}

#validaNcm{
	left:232px;
	top:20px;
	width:125px;
}

#validaCfop{
	left:234px;
	top:-9px;
	width:110px;
}

/* HACK ***************************************************************/
#validaNome, x:-moz-any-link, x:default{
	top:3px;
}

#validaUnid, x:-moz-any-link, x:default{
	top:-13px;
	left:253px;
}

#ajusteColunaEsquerda, x:-moz-any-link, x:default{
	margin-top:-10px;
}


/* PICK LIST **********************************************************/
.select-multiple{
	float:right;
	height:83px;
	margin-right:183px;
	width:150px;
}

.titulo{
	background-color:#E6E6E6;
	display:inline-block;
	font-size:13px;
	margin-left:4px;
	padding:2px;
	text-align:center;
	width:142px;
}

.todas{
	margin-left:40px;
}

.picklist{
	float:left;
    position:relative;
    width:100%;
}
.pick-label{
	margin-left:60px !important;
    margin-top:15px;
}

.picklist SECTION > DIV{
	float:left;
	padding:4px;
}

.pick-bt{
	width:30px;
    text-align:center;
}

.picklist select{
	width:145px;
}

.picklist input{
	padding-bottom:7px;
}
