select{
	height: 23px !important;
}


.labelTd .input label{
	display: none;
	
}
.labelTd .input input{
	margin-left: auto;
	margin-right: auto;

}

.linha{
	float:left;
	width:140px;
	margin-right:15px;
}

.linha2{
	margin-top:12px;
}

.conteudo-linha{
	display:block;
	margin-top:10px;
	min-height:15px;
	width:346px;
}

.valor-descricao{
	color:#000000;
	float:rigth;
	font-size:13px;
	margin-left:110px;
	margin-top:10px;
	width:230px;
}

.segmento-direito{
	float:right;
	height:270px;
	margin-right:0;
	margin-top:0;
	width:252px;
}

.titulo{
	font-size: 13px;
	text-align: right;		
}

.valor{
	color:black;
	float:rigth;
	font-size:13px;
	margin-left:110px;
	width:230px;
}

#validaPrazo{
	left:250px;
	top:-8px;
	width:115px;
}

#validaForma{
	left:250px;
	top:20px;
	width:115px;
}

#validaValor{
	left:800px;
	top:535px;
	width:110px;
}

#validaValor:after{
	top:35px;
	left:50px;
}

#validaConfirm{
	left:91%;
	top:535px;
	width:110px;
}

#validaConfirm:after{
	top:35px;
	left:50px;
}

img[id*='botaoRemover']{
	cursor:pointer;
}

img[id*='botaoEdit']{
	cursor:pointer;
	margin-top: 1px;
}

img[id*='botaoConfirm']{
	cursor:pointer;
	
}
