@charset "utf-8";



/********* SEPARAÇÃO CONSULTA *********/
.boxTitulo{
	margin: 5px 10px 10px;
	font-size: 15px;
	display: block;
}

.inputSearchData input[type='text']{
	height:20px;
	margin-top:3px;
	width:70px !important;
	padding-top: 0px !important;
	line-height:16px;
}


.statusSelect{
	clear: both;
	margin-bottom: 3px;
}
.informacoesOperacao select{
	height: 23px !important;

}

#spanDataFinalIni{
	float: right;
	position: absolute;
	margin: 0px 0px 0px 335px;
	width: 150px;
	z-index: 1;
}

#spanDataFinalEntre{
	float: right;
	position: absolute;
	margin: 25px 0px 0px 335px;
	width: 150px;
	z-index: 1;
}

#spanDataFinalIni:after, #spanDataFinalEntre:after{
	border-color: transparent #ffd5d5 transparent transparent !important;
	top: 5px;
	left: -20px;
}

.informacoesProduto label{
	width: auto !important;
	margin-left: 30px;
	margin-top: 4px;
}

.overflowLista{
	height:200px !important;
}
.borderRadius{
	border-radius: 5px !important;
}

/* Avisos*/

.bt-confirmar{
	padding: 0 !important;
	float: right;
	margin-right: 100px;
}

#msgLoteQtdVazio, #msgLoteQtdSuperior{
	margin: -40px 160px 0px !important;
}

#msgLoteQtdVazio:after, #msgLoteQtdSuperior:after{
	border-color: #ffd5d5 transparent transparent transparent;
	left: 60px;
	top: 36px !important;

}

.loteVazioInserido{
	margin: -30px 180px 0px !important;
}

.loteVazioInserido:after{
	top:20px !important;
}

.msgAviso{
	background-color: #ffd5d5;
	border: 1px solid #aaa;
	border-radius: 5px;
	color: #d40000;
	display: block;
	font-size: 13px;
	padding: 3px;
	position: absolute;
	text-align: center;
	margin: -50px 60px 0px;
	width: 200px;
}
.msgAviso:after{
	border-color: #ffd5d5 transparent transparent transparent;
	left: 60px;
	top: 36px;
}
/* MODAIS*/

.modal-body-confirma_entrega{
	height: 160px !important;
}

.conteudo-modal-entrega{
	margin: 0 auto;
	width: 400px;
	height: 30px;
	clear: both;
	padding: 0px 30px;
}

.orglotes,.cancelCompleta{
	float: left;
	margin-left: 10px;
	cursor: pointer;
}
.qtdEncontrada{
	margin: 0 auto !important;
	background: #D3D3D3;
}

.mostraQtdLote{
	float: right !important;
	margin-right: 60px;
}	
#mostraQtdLote{
	padding: 0;
}
label[for*='mostraQtdLote']{
	width: 90px !important;
}

.loaderAjaxCarregarLoteDIV{
	margin: 0 auto;
	width: 250px;
	height: 20px;
	text-align: center;
	padding-top: 25px;
}

.section-Tabela-Lote{
	margin-top: 20px;
	position: relative;
	display: block;
	clear: both;

}
.inserido{
	background: #FF8585;
}

.modal-body-Completalote{
	width: 550px;

}

.orglotes{
	cursor: pointer;
}

.cabecalho{
	border:none !important;
	margin: -10px 0px !important;
}

#bt-adicionarLote{
	margin: 0px 80px;
}

/* Tabelas*/


.tabela-simples{
	border: 1px solid rgb(120, 123, 120);
}
.tabela-simples thead tr{
	height: 25px;
	background: white !important;	
}

.tabela-simples thead tr td{
	width: 80px;
	border: 1px solid rgb(120, 123, 120);
}

.tabela-simples tbody tr:nth-child(even){
	background: #D3D3D3;
	
}
.tdLote{
background: #CAECD5;
border: 1px solid #7FDA91 !important;
}
.verde{
	background: rgba(208, 239, 206, 1);
}

.triangulo{
	border-bottom: 10px solid  #CAECD5;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: relative;
	float: left;
	left: 145px;
	top: -10px;
}

.corpoTd{
background: #fff;
bottom: 5px;
}

.coluna-td{
	float: left;
}

/* TAG ****************************************************************/
hr{
	margin-bottom:10px !important;
	margin-top:-15px !important;
}

/* CLASS **************************************************************/


.linha{
	float:left;
	width:140px;
	margin-right:15px;
}

.linha2{
	margin-top:12px;
}

.conteudo-linha{
	display:block;
	margin-top:10px;
	min-height:15px;
	width:346px;
}

.valor-descricao{
	color:#000000;
	float:rigth;
	font-size:13px;
	margin-left:110px;
	margin-top:10px;
	width:230px;
}

.segmento-direito{
	float:right;
	height:270px;
	margin-right:0;
	margin-top:0;
	width:252px;
}

.titulo{
	font-size: 13px;
	text-align: right;		
}

.valor{
	color:black;
	float:rigth;
	font-size:13px;
	margin-left:110px;
	width:230px;
}


