@charset "utf-8";


/* TAGS ***************************************************************/
input{
	background-color:transparent;
	border:0px !important;
	float:left;
	margin-top:-6px !important;
	width:90px !important;
}

table{
	font-size:13px;
	margin-bottom:25px;
	margin-top:40px;
}

th{
	text-align:center;
}

td{
	padding:5px 10px inherit 10px;
}


/* CLASS **************************************************************/
.linha{
	float:left;
	width:100px;
}

.linha2{
	margin-top:12px;
}

.segmento-direito{
	float:right;
	height:270px;
	margin-right:0;
	margin-top:0;
	width:252px;
}

.titulo{
	font-size: 13px;
	text-align: right;		
}

.valor{
	color:black;
	float:rigth;
	font-size:13px;
	margin-left:110px;
	width:230px;
}

.valor-descricao{
	color:#000000;
	float:rigth;
	font-size:13px;
	margin-left:110px;
	margin-top:10px;
	width:230px;
}

.conteudo-linha{
	display:block;
	margin-top:10px;
	min-height:15px;
	width:346px;
}

.span-semaforo{
	float:left !important;
}

.coluna-content{
	padding:15px 0px 15px 10px;
}

.coluna-categorias{
	float:left;
	margin-bottom:5px;
}

.textarea-view{
	border:none;
	width:195px
}

.tbl_lote{
	border: none;
	background-color: #F9F9F9;
}
.tbl_lote th{
	border-right: none !important;
}

/* HERANÇA ************************************************************/
.conteudo-principal section label{
	line-height:12px !important; 
}
