
@charset "utf-8";

/* TAGS ************************************/
input{
	margin-top: -4px !important;
	border: 0px !important;
	background-color: transparent;
	float: left;
	width: 90px !important;
}

table{
	font-size: 13px;
	 margin-top: 40px;
	 margin-bottom: 25px;
	  
}

th{
	text-align: center;
	  
}

td{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
}

span{
	font-size:13px;
	float: left;
	
}

/* CLASS ************************************/
.dadosbancarioLinha{
	display: inline-block;
	font-size: 13px;
	margin-left: 73px;
}

.dadosbancarioLinha .linha1{
	float: left;
	margin-left: 15px;
}

.pontoReferencia{
width: 120px;
margin-left: -20px;
}

.linha{
width:100px;
float:left;
}

.linha2{
	margin-top:12px;

}
.segmento-esquerdo{
	/*float: left;
   width: 81px; */
}

.segmento-direito{
	float: right;
    height: 270px;
    margin-right: 0;
    margin-top: 0;
    width: 252px;
	
}

.teste{
	text-align: right;
	margin-left: 10px;
}

.titulo{
	
	font-size: 13px;
	text-align: right;		
}

.valor{
	float: rigth;
	margin-left: 110px;
	color: black;
	font-size: 13px;
	width: 230px;
	
}

.valor-descricao{
	float: rigth;
	margin-left: 110px;
	margin-top: 10px;
	color: #000000;
	font-size: 13px;
	width: 230px;

}

.conteudo-linha{
	min-height: 15px;
    width: 346px;
    display: block;
    margin-top: 10px;
    
    
}
.span-semaforo{
	float:left !important;
}

.coluna-content{
	padding:15px 0px 15px 10px;
}

.coluna-categorias{

	float:left;
	margin-bottom:5px;

}

.textarea-view{
	border:none;
	width:195px
}

.conteudo-principal section label{
	line-height: 12px !important; 
}

/* ID ************************************/






